body{
    background-image: url(htmlImages/Background.png);
    margin: 0;
    background-color: #8F9961;
    color: black;
    font-family: Verdana, Arial, sans-serif;
    background-repeat: repeat-x;
}
header{
    text-align: center;
    color: #fff;
    font-size: 120%;
    margin-top: 50px;;
    height: 200px;
    width: 1365px;
}
footer{
    font-size: .60em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 1em;
}
#wrapper{
    padding: 2em;
    margin: auto; /*will help center text on screen */
    width: 80%;
}
#logo{
    height: 100px;
    width: 1000px;
    background-image: url("htmlImages/sictc-logo.png");
    background-size: 100% 100%;
    background-repeat: repeat-y;
    margin-bottom: 50px;
 }
#logo:hover{
    transition: .5s ease;
    opacity: 50%;
}
/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }
#map{
    height: 750px;
    width: 1000px;
    background-image: url("drawMaps/MASTER\ SICTC\ FLOOR\ PLAN.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 50px;
    border: 5px solid #0C3D56;
}
#directions{
    height: 750px;
    width: 1000px;
    background-image: url("drawMaps/download.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 50px;
    border: 5px solid #0C3D56;
}
.classBTN{
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.studio{
    font-style: italic;
}
footer{
    background-color: #0C3D56;
    font-size: .60em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 1em;
    color:#fff;
}

/* https://www.w3schools.com/jsref/event_onclick.asp */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: solid 2px black;
    -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5);
    box-shadow:5px 5px 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4CAF50;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
}

.dropdown-content a:hover {
    background-color: #3e8e41;
    color: black;
    font-style: bold;
    font-size:medium;
}

.show {display:block;}
a.colour:link {color:#34CF72;}


.dropdown li {
    position: relative;
    list-style: none;
}

.dropdown li a {
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: medium;
}

.dropdown li ul {
    list-style: none;
    display: none;
    line-height: normal;
    background-color: #4CAF50;
}

.dropdown li ul li a {
    text-align: left;
    color: black;
    font-size: 14px;
    display: block;
    white-space: nowrap;
    font-size: medium;
}

.dropdown li ul li a:hover {
    background-color: #3e8e41;
    color: black;
    font-size: medium;
}

.dropdown li ul li ul {
    left: 100%;
    top: 0;
}

ul li:hover>a {
    background-color: #3e8e41;
    color: black !important;
    font-size: medium;
}

ul li:hover>ul {
    display: block;
    font-size: medium;
}