body{
    background-image: url(htmlImages/Background.png);
    margin: 0;
    background-color: #8F9961;
    color: black;
    font-family: Verdana, Arial, sans-serif;
    background-repeat: repeat-x;
}
header{
    text-align: center;
    color: #fff;
    font-size: 120%;
    margin-top: 50px;;
    height: 200px;
    width: 1365px;
}
footer{
    font-size: .60em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 1em;
}
#wrapper{
    padding: 2em;
    margin: auto; /*will help center text on screen */
    width: 80%;
}
.studio{
    font-style: italic;
}
footer{
    background-color: #0C3D56;
    font-size: .60em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 1em;
    color:#fff;
}
#wrapper{
    padding: 2em;
    margin: auto; /*will help center text on screen */
    width: 80%;
}
.studio{
    font-style: italic;
}